@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
}

.container {
  position: relative;
  max-width: 150vh;
  width: 100%;
  border-radius: 6px;
  margin: 0 15px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.container header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #4070f4;
}
.container form {
  position: relative;
  min-height: 490px;
  margin-top: 16px;
}
.container form .details {
  margin-top: 30px;
}
.container form .title {
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}
.container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container form .selector {
  display: flex;
  align-items: center;
}
.container form .fields .input-field {
  display: flex;
  width: calc(33.3333333333% - 15px);
  flex-direction: column;
  margin: 4px 0;
}
.container form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-size: 18px;
  max-width: 200px;
  width: 10vh;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin: 25px 0;
  background-color: #4070f4;
  transition: all 0.3s linear;
}
.container form button:hover {
  background-color: #265df2;
}
.container form button i {
  margin: 0 6px;
}
.container form a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-size: 18px;
  max-width: 200px;
  width: 10vh;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin: 25px 0;
  background-color: #4070f4;
  transition: all 0.3s linear;
  text-decoration: none;
  cursor: auto;
}
.container form a:hover {
  background-color: #265df2;
}
.container form a i {
  margin: 0 6px;
}

.input-field input {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}
.input-field select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
  width: 100%;
}
.input-field label {
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}
.input-field input:is(:focus) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.required{
	color:red;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttons .input-field:nth-child(2) {
  margin-left: 3vh;
}/