@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
}

.container {
  position: relative;
  max-width: 150vh;
  width: 100%;
  border-radius: 6px;
  margin: 0 15px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.container header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #4070f4;
}
.container a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-size: 18px;
  max-width: 200px;
  width: 10vh;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
  margin: 25px 0;
  background-color: #4070f4;
  transition: all 0.3s linear;
  text-decoration: none;
  cursor: auto;
}
.container a:hover {
  background-color: #265df2;
}
.container a i {
  margin: 0 6px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}
.content-table thead tr {
  background-color: #4070f4;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.content-table th {
  padding: 12px 15px;
}
.content-table td {
  padding: 12px 15px;
  text-align: center;
}
.content-table tbody tr {
  border-bottom: 1px solid #ffffff;
}
.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #4070f4;
}
.content-table tbody tr.active-row {
  font-weight: bold;
  color: #4070f4;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttons .input-field:nth-child(2) {
  margin-left: 3vh;
}
.editBtn{
  height: 30px;
  font-size: 14px;
  width: 5vh;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
  margin: 25px 0;
  background-color: #4070f4;
  transition: all 0.3s linear;
}
.editBtn:hover {
  background-color: #265df2;
}
.editBtn i {
  margin: 0 6px;
}
.hidetext { -webkit-text-security: disc; /* Default */ }
.emptyMess{
	
}