<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Nuevo Pintxo</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
	integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- CSS MAIN -->
<link rel="stylesheet" th:href="@{/css/adminViews/newUser.css}" />
<link rel="stylesheet"
	href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>

	<div class="container">
		<header>Nuevo Pintxo</header>

		<form name="insertarFormulario" th:action="@{/admin/nuevoPintxo}"
			th:object="${pintxo}" method="POST">
			<div class="form first">
				<div class="details personal">
					<span class="title">Pintxo</span>

					<div class="fields">
						<div class="input-field">
							<label>Nombre <i class="fa-solid fa-asterisk required"></i></label>
							<input type="text" placeholder="Introduzca el nombre"
							 th:field="*{nombre}" th:id="floatingNombre" th:name="nombre">
						</div>

						<div class="input-field">
							<label for="ingrediente">Nuevo Ingrediente:</label> <input
								type="text" placeholder="Introduzca un ingrediente"
								th:field="*{ingredientes}" th:id="floatingIng" th:name="ingrediente">
						</div>
					</div>
				</div>
				<div class="buttons">
					<div class="input-field">
						<a th:href="@{'/admin'}" class="nextBtn"> <i
							class="fa-solid fa-arrow-left"></i>
						</a>
					</div>
					<div class="input-field">
						<button type="submit" class="nextBtn">
							<i class="uil uil-navigator"></i>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>