html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.contenedor2 {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.img-logo {
  width: 25px;
}

nav {
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 70%;
  height: 5vh;
  transition: 0s;
  position: fixed;
  z-index: 9999;
  transition: 0.3s ease-in-out;
}

.nav-active {
  opacity: 0.5;
  background-color: #686A6C;
  box-shadow: 5px -1px 12px -5px grey;
  border-radius: 10px;
}

.nav-active h4{
	color: white;
}

.container-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    cursor: pointer;
}
.container-img .box-img .image{
    width: 100%;
    height: 100%;
}
.container-img .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img .box-img:nth-child(1){
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(4){
    grid-row-start: span 2;
}
@media screen and (max-width:800px){
    .container-img{
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-template-rows: 200px;
    }
    .container-img .box-img:nth-child(1){
        grid-column-start: span 1;
    }
}
@media screen and (max-width:500px){
    .container-img{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .container-img .box-img img{
        height: 200px;
    }
}

.container-img .popup-image {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
}

.container-img .popup-image span{
	position: absolute;
	top: 0;
	right: 50px;
	font-size: 60px;
	font-weight: bolder;
	color: #fff;
	cursor: pointer;
	z-index: 100;
}

.container-img .popup-image img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid #fff;
	border-radius: 5px;
	width: 750px;
	object-fit: cover;
} 

@media(max-width: 768px){
	.container-img .popup-image img{
	width: 95%;
    }
} 
}








