@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url('../img/high-angle-shot-lake-ercina-surrounded-by-rocky-mountains.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-group{
    height: 280px;
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.input-field i{
    margin-left: 15px;
    color: #999;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

form p{
    text-align: left;
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: #3c00a0;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}

#reset{
    border: 0;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#send{
    flex-basis: 30%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.btn-field2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.icon{
    margin-right: 20px;
}

.exit{
	display: flex;
	justify-content: end;
}